ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

body {
    margin: 0%;
}

nav {
    background: #eee;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    ;
}

.nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    color: rgb(36, 98, 156);
}

.nav-links {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 1rem;
}

nav a:hover {
    color: rgb(36, 98, 156);
}

main {
    /* min-height: calc(100vh - 3rem);*/
    display: grid;
    place-items: center;
}


.container {
    text-align: center;
}


.container h2 {
    max-width: max-content;
    align-items: center;
    color: #eee;
    background-color: #000;
    padding: 0.4rem;
    border: 0.4rem;
    border-radius: 0.3rem;
}

.color {
    color: rgb(69, 134, 231);
}

.btn {
    text-transform: uppercase;
    padding: 0.4rem;
    background-color: transparent;
    border-radius: 0.3rem;
}

.btn:hover {
    color: #eee;
    background-color: #000;
}